body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.agent-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DFDFF6;
    padding: 10px 20px;
    color: white;
}

.agent-navbar-left,
.agent-navbar-right {
    display: flex;
    align-items: center;
}

.agent-logo {
    height: 50px;
    margin-right: 9%;
    margin-left: 15%;
}

.agent-greeting {
    font-size: 2rem;
    color: black;
}

.agent-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.agent-name {
    font-size: 1rem;
    margin-right: 20px;
    color: black;
}

.agent-action-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2222E0;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.agent-action-button:hover {
    background-color: #777;
}
