.main-content {
    background-color: #d51e1e; /* Change this color to your desired background color */
    flex: 1; /* Take up the remaining space below the Navbar */
    padding: 20px; /* Optional: Add some padding for better spacing */
    height: 38.7rem;
}
/* OpenTicket.css */
 
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes the full viewport height */
}
 
.main-content {
    background-color: lightblue; /* Change this color to your desired background color */
    flex: 1; /* Take up the remaining space below the Navbar */
    padding: 20px; /* Optional: Add some padding for better spacing */
}
 
.table-container {
    width: 60%;
    overflow-x: auto;
    position: absolute;
    top: 20%;
    left: 25%;
}
 
.tickets-table {
    width: 100%;
    border-collapse: collapse;
}
 
.tickets-table th, .tickets-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}