.auto-policy-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px; /* Ensure it appears below the navbar */
  padding: 20px;
}

.auto-policy-container {
  display: flex;
  width: 90%;
  height: 81vh;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: -65px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.policy-info {
  flex: 2;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.policy-info h2 {
  color: #2222E0;
  text-align: center;
  font-size: 24px;
}

.policy-info .subtitle {
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  color: #2222E0;
}

.policy-info p,
.policy-info ul,
.policy-info ol {
  text-align: left;
  font-size: 14px;
}

.policy-info .badges {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.badge {
  background-color: #5353FF;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0 5px;
}

.premium-calculator {
  flex: 1;
  padding-left: 40px;
}

.premium-calculator .calculator-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.premium-calculator .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.premium-calculator .form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.premium-calculator .form-control {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #BFBFFF;
  font-size: 14px;
}
.form-check-div{
  display: flex;
  flex-direction: row;
}
.premium-calculator .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.premium-calculator .form-check-1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: -60px;

}

.premium-calculator .form-check-input {
  margin-right: 10px;
}

.premium-calculator .form-check-label {
  font-size: 14px;
}

.button-group {
  display: flex;
  margin-top: 20px;
}
.autoinsurancepage{
  background-color: #BFBFFF;
}

.calculate-button,
.save-button {
  
  margin: 0 5px; /* Add margin between buttons */
  background-color: #2222E0;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons .btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons .btn-success {
  background-color: #4CAF50;
  color: #fff;
}

.modal-buttons .btn-danger {
  background-color: #f44336;
  color: #fff;
}
